@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 2rem;
    border-radius: 14px;
    
}
*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}
p{
    font-size: 14px;
    
    margin-bottom: 1rem;
}
.button{
    display: block;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}
img{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
h5{
    font-size: 14px;
    font-weight:400;
    color: hsl(75, 94%, 57%);
    margin-bottom: 1.5rem;
}
h3{
    font-size: 26px;
    margin-bottom: 0.7rem;
}
.button:hover{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 8%);
}
